<!doctype html>
<html>
<head>
  <title>web programming</title>
  <meta charset="utf-8">
</head>

<style>
  body{text-align: center;}
  body{color:#555555;}
  body{font-family: sans-serif;}
  a{ text-decoration: none; color: black; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:focus { text-decoration: none; }
  a:hover, a:active { text-decoration: none; }
</style>

<body>
  <p style="font-size:60px;">HOME</p>
  <a href="WebProgramming.html"><h1>2020 자율동아리 웹프로그래밍</h1></a>
  <img src="coding.jpg">

<p>
    <li><a href="crawling.html"><strong>웹크롤링</strong></a> - 설명 </li>
    <li><a href="job.html"><strong>진로정보</strong></a> - 설명</li>
    <li><a href="anonymous.html"><strong>익명게시판</strong></a> - 설명</li>
</p>
<br>

<!--본문-->

<br>

<p>
  2020 문일여고 자율동아리 '웹프로그래밍'에서 제작한 웹페이지입니다<br>
  <strong>#박한별 #안소연 #유서영 #유지민 #이승은 #임지민</strong>
</p>

</body>
<html>
