<!doctype html>
<html>
<head>
  <title>web programming</title>
  <meta charset="utf-8">
</head>

<style>
  body{text-align: left;}
  body{color:#555555;}
  body{font-family: sans-serif;}
  a{ text-decoration: none; color: black; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:focus { text-decoration: none; }
  a:hover, a:active { text-decoration: none; }
</style>

<body>
  <p style="font-size:30px;">진로 정보 > 학과 정보</p>
  <a href="WebProgramming.html"><h1>2020 자율동아리 웹프로그래밍</h1></a>
  <img src="job.png">

<br>

<p style="text-align:left;">
    <li>컴퓨터공학과</li>
      <p>
        <strong>소프트웨어 공학</strong><br>
        소프트웨어를 공학적으로 생산, 문서화, 수정 및 유지·보수하고자 하는 추세에 관련된 동향 및 이론 배경을 배웁니다.<br>
        <br><strong>운영체제</strong><br>
        컴퓨터를 실제 사용하기 위해서 필수적인 운영체제에 대해서 구체적인 구조와 구성, 그리고 발생하는 문제를 해결하기 위한 해결법을 배웁니다.<br>
        <br><strong>자료구조와 실험</strong><br>
        주어진 문제를 효과적으로 해결하는 데 자주 사용되는 여러 가지 자료 구조를 살펴보고 이를 실제적으로 구현하는 방법과 기본적인 알고리즘에 대해서 배웁니다.<br>
        <br><strong>정보 검색</strong><br>
        정보 시스템에서 데이터를 가공하여 파일이나 데이터베이스에 저장하고 필요에 따라 정보를 검색하여 제공하는 기능에 대해 배웁니다.<br>
        <br><strong>정보기술 개론</strong><br>
        정보기술 분야의 세부 전문 분야를 개괄적으로 이해할 수 있도록 컴퓨터 시스템, 컴퓨터 네트워크, 정보처리 기술, 멀티미디어와 응용 등의 기초 개념을 배웁니다.<br>
        <br><strong>컴퓨터 구성</strong><br>
        디지털 컴퓨터의 하드웨어적인 구성과 그 동작 원리를 이해할 수 있도록 컴퓨터 구조의 기초 개념을 배웁니다.<br>
        <br><strong>임베디드시스템</strong><br>
        임베디드 시스템에 많이 사용되는 마이크로프로세서의 구조를 살펴보고 임베디드용 운영체제를 배웁니다.<br>
        <br><strong>디지털신호처리</strong><br>
        음성, 음향, 영상 등의 디지털 신호 처리에 관하여 그 근본 이론으로부터 기초와 응용 전반에 걸쳐서 심도 있게 배웁니다.<br>
        <br><strong>데이터베이스</strong><br>
        실세계의 다양한 정보원들을 조직화하여 통합 저장하는 데이터베이스와 이를 중앙 관리하는 데이터베이스 관리 시스템 및 관련 이론과 기술을 배웁니다.
      </p>

    <li>정보보안학과</li>
    <li>소프트웨어학과</li>
</p>

<br>

<p>
  2020 문일여고 자율동아리 '웹프로그래밍'에서 제작한 웹페이지입니다<br>
  <strong>#박한별 #안소연 #유서영 #유지민 #이승은 #임지민</strong>
</p>

</body>
<html>
